{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h2>Welcome to Flask Demo</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur delectus doloremque eveniet illum minus modi quae quod reprehenderit tempore vero.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, ratione?
    </p>

<h3>
{{  message }}
</h3>


<ul>
{% for card in cards %}
    <li>
        <a href="{{ url_for('card_route', index=loop.index0) }}">{{ card.question }}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}